
@{
    ViewBag.Title = "KampanyaDetay";
}
@model WWD.Models.Kampanya

<!-- Css Files -->
<link href="/Content/css/bootstrap.css" rel="stylesheet">
<link href="/Content/css/font-awesome.css" rel="stylesheet">
<link href="/Content/style.css" rel="stylesheet">
<link href="/Content/css/color.css" rel="stylesheet">
<link href="/Content/css/dl-menu.css" rel="stylesheet">
<link href="/Content/css/flexslider.css" rel="stylesheet">
<link href="/Content/css/prettyphoto.css" rel="stylesheet">
<link href="/Content/css/responsive.css" rel="stylesheet">
<!-- Color Css Files Start -->
<link rel="alternate stylesheet" type="text/css" href="switcher/color-one.css" title="color-one" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-two.css" title="color-two" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-three.css" title="color-three" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-four.css" title="color-four" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-five.css" title="color-five" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-six.css" title="color-six" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-seven.css" title="color-seven" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-eight.css" title="color-eight" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-nine.css" title="color-nine" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-ten.css" title="color-ten" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/color-ten.css" title="color-ten" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/pattren1.css" title="pattren1" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/pattren2.css" title="pattren2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/pattren3.css" title="pattren3" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/pattren4.css" title="pattren4" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/pattren5.css" title="pattren5" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/background1.css" title="background1" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/background2.css" title="background2" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/background3.css" title="background3" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/background4.css" title="background4" media="screen" />
<link rel="alternate stylesheet" type="text/css" href="switcher/background5.css" title="background5" media="screen" />

<!--// Main Wrapper //-->
<!--// Main Content //-->
<div class="as-main-content">

    <!--// MainSection //-->
    <div class="as-main-section">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <figure class="as-cause-thumb"><span class="full-pattren"></span><a href="#"><img src="@Model.KampanyaFotoB" alt=""></a></figure>
                    <div class="as-detail-strip">
                    
                        <a href="#dona" class="as-causes-btn as-bgcolor">Donate Now</a>
                    </div>
                    <div class="as-detail-editor">
                        <h2>@Model.Adi</h2>
                        <p>@Model.Aciklama</p>

                    </div>
                    <form method="post" action="/Kampanya/BagisYap">
                        <div class="form-horizontal">
                            <table class="table table-hover" id="dona">
                                <thead>
                                    <tr>
                                        <th>Stuff</th>
                                        <th>Amount You Donate</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (ViewBag.addd != null)
                                    {
                                        foreach (WWD.Models.Stuff item in ViewBag.addd)
                                        {
                                            <tr>
                                                <td> <input name="StuffID" value="@item.StuffId" class="hidden" />    @item.StuffName</td>
                                                <td> <input type="number" class="form-control" placeholder="Quantity" name="GonderiMiktari" /></td>
                                                <td> <input name="KampanyaID" value="@item.KampanyaID" class="hidden" /> @item.Birim</td>
                                            </tr>
                                          
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                        <button type="submit">Donate</button>
                    </form>

                    <ul class="as-share-nav">
                        <li><span>Share Via:</span></li>
                        <li><a href="#" class="fa fa-facebook"></a></li>
                        <li><a href="#" class="fa fa-twitter"></a></li>
                        <li><a href="#" class="fa fa-linkedin"></a></li>
                        <li><a href="#" class="fa fa-pinterest-p"></a></li>
                        <li><a href="#" class="fa fa-google-plus"></a></li>
                    </ul>

                </div>
                <aside class="col-md-3">
                    <!--// Widget Categories //-->
                    <div class="widget widget_categories">
                        <div class="as-strip-title"> <h2>CATEGORY <span class="as-color">WIDGET</span></h2> </div>
                        <ul>
                            @foreach (WWD.Models.Kategori kat in ViewBag.katwid)
                            {
                                <li><a href="/Kampanya/KategoriDetay/@kat.KategoriId">@kat.KategoriAdi</a></li>
                            }


                        </ul>
                    </div>
                    <!--// Widget Categories //-->
                    <!--// Widget RecentPost //-->
                    
                    <!--// Widget RecentPost //-->
                </aside>
            </div>
            <div class="row">
                <div class="col-md-9">
                    @if (ViewBag.fu != null)
                    {
                        <div class="as-event-gallery">
                                <h2>Causes <span class="as-color">Gallery</span></h2>
                                <ul class="gallery">
                                    @foreach (WWD.Models.Resim item in ViewBag.fu)
                                    {

                                    <li>
                                        <div class="as-event-gallery-wrap">
                                            <img src="@item.ResimBuyukYol" alt="">
                                            <a href="@item.ResimBuyukYol" rel="prettyPhoto[gallery1]" title=""><i class="fa fa-plus"></i></a>
                                        </div>
                                    </li>
                                    }

                                </ul>
                            </div>
                        
                    }
                    
                </div>
            </div>
        </div>
    </div>
    <!--// MainSection //-->
</div>



<div class="clearfix"></div>

<!--// Main Wrapper //-->
<!-- jQuery (necessary for JavaScript plugins) -->
<script src="/Content/script/jquery.min.js"></script>
<script src="/Content/script/modernizr.js"></script>
<script src="/Content/script/bootstrap.min.js"></script>
<script src="/Content/script/jquery.dlmenu.js"></script>
<script src="/Content/script/flexslider-min.js"></script>
<script src="/Content/script/goalProgress.min.js"></script>
<script src="/Content/script/jquery.countdown.min.js"></script>
<script src="/Content/script/jquery.prettyphoto.js"></script>
<script src="/Content/script/waypoints-min.js"></script>
<script src="/Content/script/owl.carousel.min.js"></script>
<script src="/Content/script/newsticker.js"></script>
<script src="/Content/script/parallex.js"></script>
<script src="/Content/script/styleswitch.js"></script>
<script src="/Content/script/functions.js"></script>




